@media only screen and (max-width: 1600px) {



	/* ---------- overlays ---------- */

	.linear-overlay-parent.first .linear-overlay {
		/*top: 10.2%;*/
		/*top: 7.8%;*/ /* ---------- last ---------- */
		top: 8.5%;
		height: 18%;
	}

	.linear-overlay-parent.second .linear-overlay {
		/*top: 16%;*/ /* ---------- last ---------- */
		top: 16.7%;
		height: 18.5%;
	}

	.linear-overlay-parent.third .linear-overlay {
		top: 34%;
	}

	.linear-overlay-parent.fourth .linear-overlay {
		top: 50%;
	}

	.linear-overlay-parent.five .linear-overlay {
		top: 50.5%;
	}

	.linear-overlay-parent.six .linear-overlay {
		top: 63.5%;
	}

	.linear-overlay-parent.seven .linear-overlay {
		top: 89%;
		height: 30%;
	}

	.linear-overlay-parent.eight .linear-overlay {
		top: 89%;
	}


	/* ---------- intro ---------- */

	.hero__video {
		top: 28px;
	}

	.hero {
		min-height: 1250px;
	}

	.hero__content {
		padding-top: 5rem;
	}

	.hero__logo {
		margin-bottom: 3.5rem;
	}

	.hero .section-title {
		font-size: 4rem;
		line-height: 1.4;
		margin-bottom: 1.5rem;
	}

	.hero .sign-up-form {
		margin: 0 auto 3rem;
	}

	.hero__sphere-overlay {
		margin-top: 194px;
	}

	.hero .telegram-link-list {
		margin-bottom: 3rem;
	}

	.hero .white-paper-button-wrapper {
		margin-bottom: 3rem;
	}

	#main {
		margin-top: -460px;
	}

}












@media only screen and (max-width: 1499px) {

	.hero__video {
		top: 36px;
	}

	.about .persons__item--popup {
		min-width: 43.8rem;
	}

	/* ---------- roadmap ---------- */

	.roadmap .roadmap__progress--list .slick-arrow.prev-slide {
		left: -6rem;
		right: auto;
	}

	.roadmap .roadmap__progress--list .slick-arrow.next-slide {
		left: auto;
		right: -6rem;
	}

	.roadmap .roadmap__progress--list .slick-list {
		left: 5rem;
	}

	.roadmap .roadmap__progress--list .slide .inner .line {
		min-width: 7.8rem;
	}

	.roadmap .roadmap__progress--list .slide.large .line {
		min-width: 20.2rem;
	}

}











@media only screen and (max-width: 1439px) {

	.about .persons__item--popup {
		min-width: 40rem;
	}

}















@media only screen and (max-width: 1399px) {

	.about .persons__item--popup {
		min-width: 34rem;
	}

	.base-bottom-margin, h1, h2, h3, h4, p, ul, ol {
		margin-bottom: 3rem;
	}

	h2 {
		font-size: 4.5rem;
	}

	.divider {
		max-width: 15rem;
	}

	.divider__white {
		max-width: 14rem;
	}



	/* ---------- overlays ---------- */

	.linear-overlay-parent.first .linear-overlay {
		/*top: 8.8%;*/
		/*top: 6.8%;*/ /* ---------- last ---------- */
		top: 7.5%;
		height: 20.2%;
	}

	.linear-overlay-parent.second .linear-overlay {
		/*top: 13.8%;*/ /* ---------- last ---------- */
		top: 14.5%;
		height: 19.8%;
	}

	.linear-overlay-parent.third .linear-overlay {
		top: 32%;
	}

	.linear-overlay-parent.fourth .linear-overlay {
		top: 50%;
	}

	.linear-overlay-parent.five .linear-overlay {
		top: 49%;
	}

	.linear-overlay-parent.six .linear-overlay {
		top: 62.5%;
	}

	.linear-overlay-parent.seven .linear-overlay {
		height: 32%;
		top: 87%;
	}

	.linear-overlay-parent.eight .linear-overlay {
		top: 87%;
	}


	/* ---------- intro ---------- */

	.hero__video {
		top: 25px;
		-webkit-transform: scale(1.21);
		-ms-transform: scale(1.21);
		-o-transform: scale(1.21);
		transform: scale(1.21);
	}

	.hero {
		min-height: 1000px;
	}

	.hero__sphere-overlay {
		margin-top: 164px;
		background-size: 1399px;
	}

	.hero__logo {
		margin-bottom: 2rem;
		max-width: 9rem;
	}

	.hero .divider {
		margin: 0 auto 1.5rem;
	}

	.hero .section-title {
		font-size: 3.5rem;
		line-height: 1.3;
		margin-bottom: 2.5rem;
	}

	.hero .section-title .text-uppercase {
		font-size: 4rem;
	}

	.hero .sign-up-form {
		margin: 0 auto 2.5rem;
	}

	.telegram-link-list li .telegram-link {
		font-size: 5rem;
	}

	.go-to {
		max-width: 5.5rem;
	}



	/* ---------- header ---------- */

	.main__header.opened {
		width: 36rem;
	}

	.main__header--inner {
		padding: 1.8rem 4.5rem;
	}

	.main__header .main-menu {
		margin: 0 0 4rem -4.5rem;
		padding: 0 0 0 4.5rem;
	}

	.main__header .main-menu .carret {
		width: 2rem;
	}

	.main__header--inner .nav-title {
		margin-bottom: 3rem;
		margin-top: 2rem;
	}

	.main__header--inner .divider {
		margin-bottom: 3.5rem;
	}

	.main__header--inner .white-paper-button {
		margin-top: 1rem;
	}

	.main__header .main-menu li {
		margin-bottom: 3.4rem;
	}

	.currency-list li {
		margin-right: 2.5rem;
	}

	.main__header--inner .currency-list {
		margin-bottom: 4rem;
	}

	.main__header.light .main__header--inner .icon-wrapper {
		margin-bottom: 2rem;
	}

	.main__header--control-line .hamb-wrapper {
		margin-bottom: 1.5rem;
	}

	.main__header.opened > .icon-wrapper {
		padding-left: 2.5rem;
	}


	/* ---------- main ---------- */

	#main {
		margin-top: -340px;
	}


	.basic-slider {
		margin: 0 auto;
		max-width: 90%;
	}

	/* ---------- roadmap ---------- */

	.roadmap .roadmap__progress--list .slick-arrow.prev-slide {
		left: -3rem;
		right: auto;
	}

	.roadmap .roadmap__progress--list .slick-arrow.next-slide {
		left: auto;
		right: -3rem;
	}

}





















@media only screen and (max-width: 1299px) {

	.main__header {
		width: 3rem;
	}

	.main__header > .icon-wrapper.show {
		left: 1rem;
	}

	.main__header.opened > .icon-wrapper {
		padding-left: 3.5rem;
	}

	.hero__video {
		top: 80px;
		-webkit-transform: scale(1.4);
		-moz-transform: scale(1.4);
		transform: scale(1.4);
	}

	.about .persons__item--popup {
		min-width: 30rem;
	}

	.basic-slider {
		max-width: 88%;
	}


	.investors-slider {
		max-width: 1070px;
	}

	/* ---------- roadmap ---------- */

	.roadmap .roadmap__progress--list .slick-arrow.prev-slide {
		left: 0;
		right: auto;
	}

	.roadmap .roadmap__progress--list .slick-arrow.next-slide {
		left: auto;
		right: 0;
	}

	.roadmap .roadmap__progress--list .slide.image img {
		max-width: 11rem;
	}

	.roadmap .roadmap__progress--list .slide .inner .line {
		min-width: 6.8rem;
	}

	.roadmap .roadmap__progress--list .slide.large .item-title {
		font-size: 2rem;
		margin-bottom: 3.5rem;
	}

	.roadmap .roadmap__progress--list .slide.large .line {
		min-width: 19.2rem;
	}

	.roadmap .roadmap__progress--list .slick-list {
		left: 8rem;
	}

}




















@media only screen and (max-width: 1199px) {

	h2 {
		font-size: 4rem;
	}

	h3 {
		font-size: 2.6rem;
	}

	ul.img-type li {
		margin-bottom: 3rem;
		padding-left: 6rem;
	}

	blockquote {
		font-size: 1.6rem;
		line-height: 2;
		padding-left: 4rem;
	}



	/* ---------- overlays ---------- */

	.linear-overlay-parent.first .linear-overlay {
		/*top: 10.7%;*/
		/*top: 8.2%;*/ /* ---------- last ---------- */
		top: 8.9%;
	}

	.linear-overlay-parent.second .linear-overlay {
		/*top: 13.2%;*/ /* ---------- last ---------- */
		top: 13.9%;
		height: 22%;
	}

	.linear-overlay-parent.fourth .linear-overlay {
		top: 49.5%;
	}

	.linear-overlay-parent.five .linear-overlay {
		top: 48%;
	}

	.linear-overlay-parent.six .linear-overlay {
		top: 59.5%;
	}

	.linear-overlay-parent.eight .linear-overlay {
		top: 87%;
	}

	.linear-overlay-parent.seven .linear-overlay {
		top: 87%;
		height: 31%;
	}


	/* ---------- header ---------- */

	.main__header {
		width: 2.8rem;
	}

	.main__header.opened {
		background: #29388a;
	}

	.main__header > .icon-wrapper.show {
		left: 0.8rem;
	}

	.main__header.opened > .icon-wrapper {
		padding-left: 4rem;
	}


	/* ---------- intro ---------- */
	

	.hero__video {
		top: -120px;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}


	.hero__video .video {
		display: none;
	}

	.hero__video .video-mobile {
		display: block;
	}



	.shema-wrapper {
		top: -10vw;
		width: 37%;
	}

	.hero__sphere-overlay {
		display: none;
		margin-top: 170px;
		background-size: 1024px auto;
	}

	body.ios .hero__sphere-overlay {
		display: block;
	}

	body.ios .hero__video {
		display: none;
	}

	.hero__content {
		padding-top: 5.2rem;
	}

	.hero__logo {
		margin-bottom: 3.5rem;
	}

	.hero .divider {
		margin: 0 auto 3rem;
	}

	.hero .section-title {
		font-size: 4rem;
		margin-bottom: 3.5rem;
	}

	.hero .sign-up-form {
		margin: 0 auto 3.5rem;
	}

	.hero .section-title .text-uppercase {
		font-size: 5rem;
	}

	.hero .telegram-link-list {
		margin-bottom: 7rem;
	}

	.hero .white-paper-button-wrapper {
		margin-bottom: 5rem;
	}


	/* ---------- main ---------- */

	#main {
		padding-left: 4rem;
		margin-top: -230px;
	}



	/* ---------- vision ---------- */

	.vision__advance {
		margin-right: 0;
	}


	/* ---------- roadmap ---------- */

	.roadmap {
		margin-left: -4rem;
		padding: 7.5rem 0 15rem 4rem;
	}

	.roadmap .roadmap__progress--list li.large .item-title {
		font-size: 2rem;
	}

	.roadmap .roadmap__progress--list .slick-arrow {
		top: auto;
		bottom: -10rem;
	}

	.roadmap .roadmap__progress--list .slick-arrow.prev-slide {
		left: 50%;
		margin-left: -10rem;
		right: auto;
	}

	.roadmap .roadmap__progress--list .slick-arrow.next-slide {
		left: auto;
		margin-right: -10rem;
		right: 50%;
	}

	.roadmap .roadmap__progress--list .slick-list {
		left: 0rem;
		overflow: hidden;
		padding: 0 2rem;
	}

	.roadmap .roadmap__progress--list .slide.large img {
		top: 0rem;
		max-width: 10rem;
	}

	.roadmap .roadmap__progress--list .slick-track {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
	}

	.roadmap .roadmap__progress--list .slide.large .text {
		top: 0rem;
	}

	.roadmap .roadmap__progress--list .slide .inner .info {
		width: 7.6rem;
	}

	.roadmap .roadmap__progress--list .slide {
		opacity: 1;
	}


	/* ---------- partners ---------- */

	.partners {
		margin-left: -4rem;
		padding-bottom: 7rem;
		padding-left: 4rem;
		padding-top: 6rem;
	}

	.investors-slider {
		max-width: 870px;
	}

	#partners-window .modal-content-wrapper .close {
		font-size: 24px;
		height: 40px;
		right: -25px;
		top: -25px;
		width: 40px;
	}


	/* ---------- footer ---------- */

	.main__footer--career-text {
		margin-right: 0;
	}

	.main__footer .telegram-link-list {
		margin-left: -4rem;
	}

	.main__footer .telegram-link-list li .dir.dir-right {
		padding-right: 4.8rem;
	}

	.main__footer .telegram-link-list li .dir.dir-left {
		padding-left: 4.8rem;
	}

	.main__footer .telegram-link-list li .dir::before {
		width: 3rem;
	}

	.main__footer--copy {
		padding: 5rem 0 5rem 4rem;
	}

	.main__footer .copy {
		margin: 0 0 0 -4rem;
	}





	/* ---------- white paper ---------- */

	#white-paper-modal .modal-content-wrapper .modal-content-block .modal-content-block-inner {
		padding: 0 48px 0 30px;
	}

	#white-paper-modal .close {
		font-size: 24px;
		height: 40px;
		right: -25px;
		top: -25px;
		width: 40px;
	}


	/* ---------- map ---------- */
	
	.backer-map {
		padding: 7.5rem 0 8rem 4rem;
	}

	.allocation {
		padding-left: 4rem;
	}

	#donut {
		transform: scale(1);
	}

	.structure .total-info {
		font-size: 1.6rem;
		min-height: 9rem;
	}

	.allocation-content {
		margin-bottom: 6.8rem;
	}

	.allocation .divider {
		margin-bottom: 3.3rem;
	}

	.structure .structure-item-part-line {
		font-size: 1.4rem;
		margin-bottom: 1rem;
	}

	.structure .structure-item-part-title {
		margin-bottom: 1.5rem;
	}

}


















@media only screen and (max-width: 992px) {

	body {
		font-size: 1.5rem;
		line-height: 1.8;
	}

	h2 {
		font-size: 3.5rem;
	}

	.base-bottom-margin, h1, h2, h3, h4, p, ul, ol {
		margin-bottom: 2.5rem;
	}


	ul.img-type li::before {
		height: 3.5rem;
		top: -0.7rem;
		width: 3rem;
	}

	ul.img-type li {
		margin-bottom: 1.5rem;
		padding-left: 4.5rem;
	}

	.overview__content--block blockquote {
		margin-left: 2rem;
		padding-left: 4rem;
	}



	/* ---------- overlays ---------- */

	.linear-overlay-parent.first .linear-overlay {
		/*top: 13.5%;*/
		/*top: 9.7%;*/ /* ---------- last ---------- */
		top: 10.3%;
	}

	.linear-overlay-parent.second .linear-overlay {
		/*top: 18.5%;*/
		/*top: 14%;*/ /* ---------- last ---------- */
		top: 14.5%;
		height: 14.5%;
	}

	.linear-overlay-parent.third .linear-overlay {
		top: 27%;
	}

	.linear-overlay-parent.fourth .linear-overlay {
		top: 44.5%;
	}

	.linear-overlay-parent.five .linear-overlay {
		top: 45.5%;
	}

	.linear-overlay-parent.six .linear-overlay {
		top: 53.5%;
	}

	.linear-overlay-parent.seven .linear-overlay {
		top: 82%;
		height: 33.5%;
	}

	.linear-overlay-parent.eight .linear-overlay {
		top: 82%;
	}


	/* ---------- intro ---------- */
	

	.hero__video {
		top: -55px;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		transform: scale(1.1);
	}

	.shema-wrapper {
		top: -12.5vw;
		width: 46%;
	}

	.hero {
		min-height: 1200px;
	}

	.hero__logo {
		margin-bottom: 5rem;
		max-width: 10rem;
	}

	.hero .divider {
		margin: 0 auto 4rem;
	}

	.hero .section-title {
		font-size: 4rem;
		margin-bottom: 4.5rem;
	}

	.hero__sphere-overlay {
		margin-top: 178px;
	}
	

	.hero .white-paper-button-wrapper {
		margin-bottom: 19rem;
	}


	/* ---------- main ---------- */

	#main {
		margin-top: -160px;
	}


	/* ---------- overview ---------- */

	.overview__content--block.intro ul li::before {
		top: 1.1rem;
	}

	.overview__content--block.intro {
		font-size: 1.6rem;
	}

	.overview__content--block .divider {
		margin-bottom: 2.5rem;
	}

	.overview__content--block.intro p {
		padding-right: 0;
	}

	.overview__content--block.text p {
		padding-right: 0;
	}

	.overview__content--block.intro .overview__content--block-image-wrapper {
		max-width: 24rem;
	}

	.overview__content--block.list .overview__content--block-image-wrapper {
		margin-bottom: 6rem;
		top: 0;
	}


	/* ---------- roadmap ---------- */

	.roadmap {
		padding: 5rem 0 15rem 4rem;
	}

	.roadmap .roadmap__progress--list .slide {
		font-size: 1.2rem;
	}

	.roadmap .roadmap__progress--list .slide .inner .info {
		width: 5.6rem;
	}

	.roadmap .roadmap__progress--list .slide .inner .line {
		min-width: 4.8rem;
	}

	.roadmap .roadmap__progress--list .slide.large img {
		max-width: 8rem;
		margin: 0 1.5rem;
	}

	.roadmap .roadmap__progress--list .slide.large .text {
		top: 0rem;
	}

	.roadmap .roadmap__progress--list .slide.large .item-title {
		font-size: 1.8rem;
	}

	.roadmap .roadmap__progress--list .slide.large .line {
		min-width: 17rem;
	}


	/* ---------- about ---------- */

	.about .persons__item--image-wrapper {
		float: none;
		margin: 0 auto;
		width: 100%;
	}

	.about .persons__item--text-wrapper {
		float: none;
		margin-top: 1.4rem;
		text-align: center;
		width: 100%;
	}

	.about .persons__item--text-wrapper {
		padding-left: 1.5rem;
		font-size: 1.4rem;
	}

	.about .persons__item .person-name {
		margin-bottom: 2rem;
	}

	.about .persons__item .person-mail {
		margin-bottom: 2.4rem;
	}

	.about .persons__item.main .person-name {
		margin-bottom: 1rem;
	}

	/* ---------- partners ---------- */
	
	.partners__list li {
		padding-top: 52%;
	}

	.partners__list.right li {
		padding-top: 26%;
	}

	.partners .section-title {
		margin-bottom: 3.5rem;
	}

	.partners .divider {
		margin-bottom: 4rem;
	}

	.investors-slider {
		max-width: 600px;
	}


	/* ---------- footer ---------- */

	.main__footer--career-subtitle {
		font-size: 2rem;
	}

	.main__footer--career {
		padding: 6rem 0;
	}

	.main__footer--career-image {
		padding-left: 4rem;
	}

	.main__footer .copy {
		margin: 5rem 0 0;
		text-align: center;
	}

	.main__footer .telegram-link-list {
		margin-left: 0;
	}

}




@media only screen and (max-width: 992px) {

	.partners__list li a img {
		max-width: 80%;
	}

	.basic-slider {
		max-width: 80%;
	}

	#partners-window .modal-content-wrapper .modal-content-block .extend-partners-list {
		font-size: 1.6rem;
	}

	.career-add-form .upload-box label.error {
		left: -575%;
	}



	/* ---------- map ---------- */

	.backer-map .section-title {
		text-align: center;
	}

	.backer-map .divider {
		margin: 0 auto 3rem;
	}

	.allocation .section-title {
		text-align: center;
	}

	.allocation .divider {
		margin: 0 auto 3rem;
	}

	.allocation-content {
		margin-bottom: 7rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.allocation-content .center {
		max-width: 100%;
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0;
		margin-top: -10rem;
	}

	.allocation-content .left {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		max-width: 100%;
		width: 100%;
		margin-bottom: 5rem;
	}

	.allocation-content .right {
		-webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
		max-width: 100%;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		text-align: center;
		width: 100%;
	}


	.structure .structure-item .structure-item-title {
		text-align: center;
	}

	.structure .total-info {
		margin: 0 auto;
		max-width: 47rem;
	}

	.structure .structure-item {
		height: auto;
		display: block;
		margin-bottom: 5rem;
	}

	.structure .structure-item-part-title {
		text-align: center;
	}

	.structure .structure-item-part-line {
		margin: 0 auto 1rem;
		max-width: 55rem;
	}

	.structure .bottom .bottom-title {
		text-align: center;
	}

	.structure .top {
		margin-bottom: 4rem;
	}

	.structure .token-status-list li span {
		top: 0.5rem;
	}

	.structure .token-status-list li i {
		top: 0.5rem;
	}

	.structure .token-status-list li.item-noted span {
		top: 1rem;
	}

	.allocation-content .right .tab-panel-container {
		min-height: 1px;
	}

}
















@media only screen and (max-width: 767px) {


	.space-150 {
		padding: 5rem 0;
	}


	/* ---------- header ---------- */

	.hamb {
		padding-bottom: 0;
	}

	.hamb-text {
		display: none;
	}

	.main__header {
		width: 100%;
		display: block;
		bottom: auto;
		-webkit-transform: translate(0px, -7rem);
		-ms-transform: translate(0px, -7rem);
		-o-transform: translate(0px, -7rem);
		transform: translate(0px, -7rem);
		-webkit-transition: all 0.3s ease 0s !important;
		-moz-transition: all 0.3s ease 0s !important;
		transition: all 0.3s ease 0s !important;
		transition-delay: 0s;
		background: transparent !important;
	}

	.main__header.opened {
		width: 100%;
		-webkit-transform: translate(0px, 0rem);
		-ms-transform: translate(0px, 0rem);
		-o-transform: translate(0px, 0rem);
		transform: translate(0px, 0rem);
		bottom: 0;
	}

	.main__header.auto {
		bottom: 0;
	}


	.main__header--control-line {
		display: block;
		right: 0;
		padding: 0;
		position: relative;
		bottom: auto;
		height: auto;
	}

	.main__header.light .main__header--control-line {
		padding-top: 0;
	}

	.main__header--control-line .ankers {
		display: none;
	}

	.main__header--control-line .socials {
		display: none !important;
	}

	.main__header--control-line .hamb-wrapper {
		padding: 1rem 0;
		margin-bottom: 0;
	}

	.main__header > .icon-wrapper {
		display: none;
	}

	.main__header--inner {
		background: #ccc;
		padding: 1.5rem;
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		        background: transparent;
		        transition-delay: 0s !important;
	}

	.main__header--inner .overlay {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: #29388a;
		opacity: 0;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		z-index: -1;
	}

	.main__header.opened .main__header--inner .overlay {
		opacity: 1;
	}

	.main__header--inner .divider {
		margin: 0 auto 3.5rem;
	}

	.main__header .main-menu .carret {
		display: none;
	}

	.main__header .main-menu {
		margin: 0 0 4rem;
		padding: 0;
	}

	.main__header--inner .currency-list {
		-webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.main__header--control-line .hamb-wrapper {
		background: transparent;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.main__header.light .main__header--inner .overlay {
		background: #fff;
	}

	.main__header.light .socials__list li a {
		background: #3661ad;
		color: #fff;
	}

	.main__header.light .socials__list li a .socials__list-icon path {
		fill: #fff;
	}

	.main__header--inner .icon-wrapper {
		display: block !important;
		margin: 0 auto 2rem !important;
	}

	.main__header--inner .icon-wrapper img {
		filter: grayscale(0) brightness(0) invert(1);
	}

	.main__header.opened .main__header--inner .socials__list {
		display: block !important;
	}

	.main__header .main__header--inner .socials {
		display: block !important;
		width: 100%;
		margin-bottom: 6rem;
	}

	.main__header .main__header--inner .socials .socials__list li {
		display: inline-block;
		margin: 0 1rem;
	}

	.main__header--inner .icon-wrapper,
	.main__header--inner .nav-title,
	.main__header--inner .main-menu,
	.main__header--inner .currency-list,
	.main__header--inner .white-paper-button,
	.main__header--inner .socials {
		position: relative;
		top: -2rem;
		opacity: 0;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.main__header--inner .divider {
		opacity: 0;
		-webkit-transition: all 0.3s ease 0.9s;
		-moz-transition: all 0.3s ease 0.9s;
		transition: all 0.3s ease 0.9s;
	}

	.main__header.opened .main__header--inner .divider {
		opacity: 1;
	}

	.main__header.opened .main__header--inner .icon-wrapper,
	.main__header.opened .main__header--inner .nav-title,
	.main__header.opened .main__header--inner .main-menu,
	.main__header.opened .main__header--inner .currency-list,
	.main__header.opened .main__header--inner .white-paper-button,
	.main__header.opened .main__header--inner .socials {
		opacity: 1;
		top: 0;
	}

	.main__header.opened .main__header--inner .icon-wrapper {
		-webkit-transition: all 0.3s ease 0.2s;
		-moz-transition: all 0.3s ease 0.2s;
		transition: all 0.3s ease 0.2s;
	}

	.main__header.opened .main__header--inner .nav-title {
		-webkit-transition: all 0.3s ease 0.3s;
		-moz-transition: all 0.3s ease 0.3s;
		transition: all 0.3s ease 0.3s;
	}

	.main__header.opened .main__header--inner .main-menu {
		-webkit-transition: all 0.3s ease 0.4s;
		-moz-transition: all 0.3s ease 0.4s;
		transition: all 0.3s ease 0.4s;
	}

	.main__header.opened .main__header--inner .currency-list {
		-webkit-transition: all 0.3s ease 0.6s;
		-moz-transition: all 0.3s ease 0.6s;
		transition: all 0.3s ease 0.6s;
	}

	.main__header--inner .white-paper-button {
		margin-top: 1rem;
		margin-bottom: 4rem;
		-webkit-transition: all 0.3s ease 0.7s;
		-moz-transition: all 0.3s ease 0.7s;
		transition: all 0.3s ease 0.7s;
	}

	.main__header.opened .main__header--inner .socials {
		-webkit-transition: all 0.3s ease 0.8s;
		-moz-transition: all 0.3s ease 0.8s;
		transition: all 0.3s ease 0.8s;
	}

	.main__header.light .main__header--inner .icon-wrapper img {
		filter: grayscale(0) brightness(0) invert(0);
	}



	/* ---------- overlays ---------- */

	.linear-overlay-parent.first .linear-overlay {
		top: 8%;
		height: 18%;
	}

	.linear-overlay-parent.second .linear-overlay {
		height: 11%;
		top: 10.5%;
	}

	.linear-overlay-parent.third .linear-overlay {
		top: 18%;
	}

	.linear-overlay-parent.five .linear-overlay {
		top: 31.5%;
	}

	.linear-overlay-parent.six .linear-overlay {
		top: 44.3%;
	}

	.linear-overlay-parent.seven .linear-overlay {
		top: 89%;
		height: 25%;
	}

	.linear-overlay-parent.eight .linear-overlay {
		top: 89%;
	}



	/* ---------- hero ---------- */

	.hero__video {
		top: -10px;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}

	.hero__content {
		padding-top: 12rem;
		position: relative !important;
	}

	.hero__sphere-overlay {
		margin-top: 312px;
	}

	.hero .go-to {
		display: none;
	}

	.hero {
		min-height: 0.01rem;
		position: relative;
	}

	.hero .telegram-link-list {
		margin-bottom: 8rem;
	}

	#main {
		padding-left: 0;
		margin-top: 0;
	}

	.overview__content--block.intro .overview__content--block-image-wrapper {
		margin: 0 auto 4rem;
	}

	.overview__content--block-image-wrapper {
		position: relative;
		text-align: center;
	}

	.overview__content--block-image-wrapper img {
		display: inline-block;
		margin-bottom: 3rem;
	}

	.overview__content--block.list .overview__content--block-image-wrapper {
		top: 0;
	}


	/* ---------- vision ---------- */

	.vision__image-wrapper {
		margin: 0 auto 4rem;
		max-width: 24rem;
	}

	.vision .row.top {
		margin-bottom: 4rem;
	}

	.vision__advance {
		margin-bottom: 0;
	}

	.vision__divider {
		margin: 1rem 0 0;
	}

	.vision__advance .divider {
		margin-bottom: 3rem;
	}


	/* ---------- overview ---------- */

	.overview {
		position: relative;
		z-index: 8;
		padding-bottom: 5rem;
	}

	.overview__content--block.plasma .overview__content--block-image-wrapper {
		margin-bottom: 0;
	}

	ul.stage-type {
		margin: 0;
	}

	.overview__content--block .space-55 {
		display: none;
	}

	.overview .overview__content--block.service ~ .space-110 {
		padding: 2rem 0;
	}

	.overview__content--block.plasma .overview__content--block-image-wrapper {
		margin-top: 4rem;
	}




	/* ---------- about ---------- */

	.about .section-title {
		text-align: center;
	}

	.about .divider {
		margin: 0 auto 5rem;
	}


	/* ---------- partners ---------- */

	.partners .section-title {
		text-align: center;
	}


	.partners__content {
		margin: 0 auto;
		max-width: 80%;
	}

	.partners__list.left {
		margin-bottom: 5rem;
	}

	.partners__list.right li {
		padding-top: 20%;
	}

	.partners__list li {
		padding-top: 40%;
	}


	/* ---------- footer ---------- */

	.main__footer--career-image {
		margin: 0 auto 4rem;
		max-width: 18rem;
		width: 100%;
		padding: 0;
	}

	.main__footer--career-text {
		margin-right: 0;
		text-align: center;
	}

	.main__footer--career .divider {
		margin: 0 auto 5rem;
	}

	.career-add-form {
		margin: 0 auto;
		max-width: 55rem;
	}

	.main__footer--copy {
		padding: 5rem 0;
		text-align: center;
	}

	.main__footer--copy .sign-up-form {
		margin: 0 auto 6rem;
	}

	.main__footer .telegram-link-list {
		max-width: 38rem;
	}

	.main__footer .telegram-link-list li .dir::before {
		width: 5rem;
	}


	.main__footer .telegram-link-list li .dir.dir-right {
		padding-right: 6.8rem;
	}

	.main__footer .telegram-link-list li .dir.dir-left {
		padding-left: 6.8rem;
	}


	.about .persons__item--popup {
		left: 0;
		min-width: 1rem;
		position: relative;
		padding: 2.5rem 1.5rem 0rem;
		width: 100%;
		top: 0;
		color: #343434;
		background: transparent;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}

	.about .persons__item--popup .close {
		display: none;
	}

	.about .persons__item--popup-name {
		display: none;
	}

	.about .persons__item--popup-position {
		display: none;
	}


	.basic-slider {
		max-width: 380px;
		padding: 0;
		margin: 0 auto 8rem;
	}

	.basic-slider .slick-list {
		overflow: hidden;
	}

	.basic-slider .slide {
		opacity: 1;
		visibility: visible;
		min-height: 1px;
	}

	.basic-slider .slide::after {
		display: none;
	}

	.career-add-form .upload-box label.error {
		left: -730%;
	}



	/* ---------- map ---------- */

	.backer-map {
		padding: 7.5rem 0 8rem;
	}

	.allocation {
		padding-left: 0;
	}

}


















@media only screen and (max-width: 719px) {


	/* ---------- overlays ---------- */

	.linear-overlay-parent.first .linear-overlay {
		height: 18.5%;
		/*top: 8.5%;*/ /* ---------- last ---------- */
		top: 9.4%;
	}

	.linear-overlay-parent.second .linear-overlay {
		/*top: 10.2%;*/ /* ---------- last ---------- */
		top: 11%;
		height: 10.5%;
	}

	.linear-overlay-parent.five .linear-overlay {
		top: 33.7%;
	}

	.linear-overlay-parent.six .linear-overlay {
		top: 55%;
	}

	.linear-overlay-parent.seven .linear-overlay {
		top: 89%;
		height: 26.5%;
	}

	.linear-overlay-parent.eight .linear-overlay {
		top: 89%;
	}



	/* ---------- header ---------- */

	.main__header--inner {
		display: block;
		overflow-y: auto;
		text-align: center;
		padding-top: 10rem;
	}

	.hero__content {
		padding-top: 14rem;
	}

	.hero__sphere-overlay {
		margin-top: 352px;
		background-size: 830px auto;
	}

	.main__header--inner .nav-title {
		margin-bottom: 2rem;
		margin-top: 1.5rem;
	}

	.main__header--inner .icon-wrapper {
		margin: 0 auto 1.5rem;
	}

	.main__header--inner .divider {
		margin: 0 auto 2.5rem;
	}

	.main__header .main-menu li {
		margin-bottom: 3rem;
	}

	.main__header .main-menu {
		margin: 0 0 3rem;
	}


	/* ---------- intro ---------- */

	.hero__video {
		top: 66px;
		-webkit-transform: scale(1.15);
		-moz-transform: scale(1.15);
		transform: scale(1.15);
	}

	.hero .telegram-link-list {
		margin-bottom: 6rem;
	}

	/* ---------- about ---------- */

	.about {
		padding-top: 6rem;
	}


	/* ---------- footer ---------- */

	.main__footer .section-title span {
		display: block;
	}

		.partners__list.bottom li {
			width: 50%;
			margin-top: -1px !important;
			margin-left: -1px !important;
		}

		.partners__list.bottom li:first-child {
			margin-top: 0;
		}

		.partners__list.bottom li:nth-child(2) {
			margin-top: 0;
		}

		.partners__list.bottom li:nth-child(2n) {
			margin-left: -1px !important;
		}



		/* ---------- partners modal ---------- */


		#partners-window .modal-content-wrapper .close {
			font-size: 22px;
			height: 30px;
			right: -20px;
			top: -20px;
			width: 30px;
		}

		#partners-window .modal-content-wrapper .modal-content-block .modal-content-block-inner {
			margin: 25px -17px 30px 0;
			padding: 0 45px 0 28px;
		}

		#partners-window .modal-content-wrapper .modal-content-block .title {
			font-size: 2.4rem;
			margin-bottom: 2.5rem;
		}

		#partners-window .modal-content-wrapper .modal-content-block .divider {
			margin-bottom: 2.5rem;
		}




		/* ---------- white paper ---------- */

		#white-paper-modal .modal-content-wrapper .modal-content-block .modal-content-block-inner {
			padding: 0 28px 0 10px;
			margin: 10px -17px 10px 0;
		}

		#white-paper-modal .close {
			right: -20px;
			top: -20px;
			height: 30px;
			width: 30px;
			font-size: 22px;
		}

		.page-wrapper {
			margin-bottom: 10px;
			padding: 5%;
		}

		/* ---------- roadmap ---------- */

		.roadmap .roadmap__progress--list .slide .inner .line {
			min-width: 5.8rem;
		}

		.roadmap .roadmap__progress--list .slide.large .item-title {
			font-size: 1.8rem;
			margin-bottom: 3.2rem;
		}

		.roadmap .roadmap__progress--list .slide.large .line {
			min-width: 18rem;
		}

		.roadmap .roadmap__progress--list .slide:first-of-type .inner .date {
			left: 0;
		}

}





@media only screen and (max-width: 699px) {

	/* ---------- roadmap ---------- */

	.roadmap .roadmap__progress--list .slide .inner .line {
		display: none;
	}

	.roadmap .roadmap__progress--list .slide .inner .info {
		width: auto;
	}

	.roadmap .roadmap__progress--list .slide .inner .info .item-title {
		left: 0 !important;
	}

	.roadmap .roadmap__progress--list .slick-list {
		left: 0;
	}

	.roadmap .roadmap__progress--list .slide .inner {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.roadmap .roadmap__progress--list .slide.image {
		padding: 0;
		top: 1rem;
	}

	.roadmap .roadmap__progress--list .slide.image img {
		margin: 0 auto;
	}

	.roadmap .section-title {
		text-align: center;
	}

	.roadmap__content .divider {
		margin: 0 auto 4rem;
	}

	.roadmap .roadmap__progress--list .slide.large .line {
		display: block;
		min-width: 1rem;
		width: 100%;
		max-width: 20rem;
	}

	.roadmap .roadmap__progress--list .slide.large .item-title {
		font-size: 2.2rem;
		margin-bottom: 3.1rem;
	}

	.roadmap .roadmap__progress--list .slide.large .inner {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.roadmap .roadmap__progress--list .slide .inner .info .item-icon {
		position: relative;
		width: 6.6rem;
		margin: 1.2rem auto;
	}

	.roadmap .roadmap__progress--list .slide .inner .info .item-icon::before,
	.roadmap .roadmap__progress--list .slide .inner .info .item-icon::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #fff;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.roadmap .roadmap__progress--list .slide .inner .info .item-icon::before {
		left: 100%;
	}

	.roadmap .roadmap__progress--list .slide .inner .info .item-icon::after {
		right: 100%;
	}

	.roadmap .roadmap__progress--list .slick-arrow {
		top: 2.5rem;
	}

	.roadmap .roadmap__progress--list .slide.large .item-title {
		margin-bottom: 2.7rem;
	}

	.roadmap .roadmap__progress--list .slick-arrow.prev-slide {
		left: 0;
		margin-left: 0;
		right: auto;
	}

	.roadmap .roadmap__progress--list .slick-arrow.next-slide {
		left: auto;
		margin-right: 0;
		right: 0;
	}

	.roadmap .roadmap__progress--list .slide.large .inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}

	.roadmap .roadmap__progress--list .slick-arrow {
		top: 7.8rem;
		bottom: auto;
	}

	.roadmap .roadmap__progress--list .slide.large img {
		margin: 0 1.5rem 2rem;
	}

	.roadmap .roadmap__progress--list .slick-list {
		margin: 0 6rem;
		padding: 0;
	}

	.roadmap {
		padding: 5rem 0 7rem 4rem;
	}

}













@media only screen and (max-width: 659px) {

	.hero__video {
		top: 86px;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		transform: scale(1.2);
	}

}


















@media only screen and (max-width: 599px) {

	/*.about .persons__item .person-socials {
		display: flex;
	}

	.about .persons__item--popup .person-socials {
		display: none;
	}*/


	#main {
		margin-top: 1rem;
	}

	blockquote, 
	.overview__content--block blockquote {
		font-size: 1.5rem;
		line-height: 1.8;
		margin-left: 0rem;
		padding-left: 2rem;
	}



	/* ---------- overlays ---------- */

	.linear-overlay-parent.first .linear-overlay {
		/*top: 8%;*/ /* ---------- last ---------- */
		top: 8.8%;
		height: 16.5%;
	}

	.linear-overlay-parent.second .linear-overlay {
		/*top: 9%;*/ /* ---------- last ---------- */
		top: 9.8%;
		height: 11%;
	}

	.linear-overlay-parent.third .linear-overlay {
		top: 19%;
	}

	.linear-overlay-parent.five .linear-overlay {
		top: 42%;
		height: 10%;
	}

	.linear-overlay-parent.six .linear-overlay {
		top: 52%;
	}

	.linear-overlay-parent.seven .linear-overlay {
		top: 88.5%;
		height: 25.5%;
	}

	.linear-overlay-parent.eight .linear-overlay {
		top: 88.5%;
	}


	/* ---------- hero ---------- */

	.hero__video {
		top: 146px;
		-webkit-transform: scale(1.4);
		-moz-transform: scale(1.4);
		transform: scale(1.4);
	}

	.hero .section-title {
		font-size: 3.5rem;
		margin-bottom: 3rem;
	}

	.hero .section-title .text-uppercase {
		font-size: 3rem;
	}

	.hero__logo {
		margin-bottom: 3rem;
		max-width: 10rem;
	}

	.hero .divider {
		margin: 0 auto 3rem;
	}


	/* ---------- overview ---------- */

	.overview__content--block.intro .overview__content--block-image-wrapper {
		max-width: 18rem;
		margin: 0 auto 3rem;
	}



	/* ---------- roadmap ---------- */

	.roadmap .roadmap__progress--list .slide.image {
		top: 1rem;
	}

	.roadmap .roadmap__progress--list .slide.image img {
		max-width: 9rem;
	}

	.roadmap .roadmap__progress--list .slide.large .line {
		min-width: 17rem;
	}


	/* ---------- about ---------- */

	.about .persons__inner {
		align-items: center;
		-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
	}


	/* ---------- partners ---------- */

	.partners {
		padding: 4rem 0 6rem;
		margin: 0;
	}

	.partners__content {
		margin: 0 auto;
		max-width: 100%;
	}

	.investors-slider {
		max-width: 380px;
	}



	/* ---------- footer ---------- */

	.career-add-form {
		-webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
	}

	.career-add-form .input-field {
		margin-bottom: 4rem;
	}

	.basic-slider .slick-arrow.prev-slide {
		left: -4rem;
		right: auto;
	}

	.basic-slider .slick-arrow.next-slide {
		left: auto;
		right: -4rem;
	}
	

	#partners-window .modal-content-wrapper .modal-content-block .extend-partners-list {
		-webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
	}

	#partners-window .modal-content-wrapper .modal-content-block .extend-partners-list > li {
		margin-bottom: 2rem;
	}


	/* ---------- footer ---------- */

	.telegram-link-list li a {
		font-size: 1.2rem;
	}



	/* ---------- map ---------- */

	.structure .total-info {
		font-size: 1.5rem;
		min-height: 7rem;
	}

	.structure .structure-item .structure-item-title {
		font-size: 2.4rem;
	}

	.structure .bottom .bottom-title {
		font-size: 2.4rem;
	}
	

}

















@media only screen and (max-width: 559px) {

	.hero__video {
		top: 194px;
		-webkit-transform: scale(1.6);
		-moz-transform: scale(1.6);
		transform: scale(1.6);
	}

	.hero .telegram-link-list.desktop {
		display: none;
	}

	.hero .telegram-link-list.mobile {
		display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
	}



}




















@media only screen and (max-width: 479px) {


	.partners__list.top li {
		margin-left: 0;
		padding-top: 50%;
		margin-top: -1px;
		width: 100%;
	}

	.space-60 {
		padding: 2rem 0;
	}

	.space-150 {
		padding: 3rem 0;
	}



	/* ---------- overlays ---------- */

	.overview__content--block {
		z-index: 4;
	}

	.linear-overlay-parent.first .linear-overlay {
		height: 17.2%;
		/*top: 5.5%;*/ /* ---------- last ---------- */
		top: 6.2%;
	}

	.linear-overlay-parent.second .linear-overlay {
		height: 10.8%;
		/*top: 7.2%;*/ /* ---------- last ---------- */
		top: 7.9%;
	}

	.linear-overlay-parent.third .linear-overlay {
		top: 15%;
	}

	.linear-overlay-parent.five .linear-overlay {
		height: 9%;
		top: 37.5%;
	}

	.linear-overlay-parent.fourth .linear-overlay {
		height: 24%;
	}

	.linear-overlay-parent.six .linear-overlay {
		top: 44%;
	}

	.linear-overlay-parent.seven .linear-overlay {
		top: 110.5%;
	}

	.linear-overlay-parent.eight .linear-overlay {
		top: 89%;
	}

	.linear-overlay-parent.seven .linear-overlay {
		top: 89%;
		height: 25%;
	}

	#main {
		margin-top: -10rem;
	}


	/* ---------- hero ---------- */

	.hero__content {
		padding-top: 12rem;
	}

	.hero .section-title {
		font-size: 2.8rem;
		line-height: 1.2;
	}

	.hero__logo {
		margin-bottom: 1rem;
	}

	.hero .divider {
		margin: 0 auto 1rem;
	}

	.hero .section-title {
		margin-bottom: 2rem;
	}

	.hero__video {
		top: 340px;
		-webkit-transform: scale(2.2);
		-moz-transform: scale(2.2);
		transform: scale(2.2);
	}

	.hero .telegram-link-list {
		margin-bottom: 3rem;
	}


	/* ---------- overview ---------- */

	ul.stage-type li {
		padding-left: 7.5rem;
	}

	ul.stage-type li .stage-info {
		top: -0.7rem;
	}

	ul.stage-type li .stage-info .icon {
		font-size: 1.5rem;
		height: 3.5rem;
		margin-right: 0.8rem;
		width: 3.4rem;
	}


	/* ---------- roadmap ---------- */

	.roadmap {
		padding: 5rem 0 5rem 4rem;
	}


	/* ---------- partners ---------- */

	.partners__list li {
		margin: 0 2% !important;
	}

	.partners__list li a img {
		max-width: 70%;
	}

	.partners__list.right li {
		padding-top: 25%;
	}

	#partners-window .modal-content-wrapper .close {
		font-size: 18px;
		height: 24px;
		right: 0;
		top: -30px;
		width: 24px;
	}

	.investors-slider .slick-arrow {
		height: 4rem;
		width: 4rem;
	}

	.investors-slider .slick-arrow::after {
		-webkit-transform: translate(-50%, -50%) scale(0.7);
		-moz-transform: translate(-50%, -50%) scale(0.7);
		transform: translate(-50%, -50%) scale(0.7);
	}

	.investors-slider .slick-arrow.prev-slide {
		left: 0rem;
		right: auto;
	}

	.investors-slider .slick-arrow.next-slide {
		left: auto;
		right: 0;
	}


	#partners-window .modal-content-wrapper .modal-content-block .modal-content-block-inner {
		margin: 30px -17px 25px 0;
		padding: 0 20px;
	}

	#partners-window .modal-content-wrapper .modal-content-block .extend-partners-list > li {
		margin-bottom: 0rem;
		width: 100%;
	}

	#partners-window .modal-content-wrapper .modal-content-block .title {
		font-size: 2.5rem;
		margin-bottom: 2.5rem;
	}

	#partners-window .modal-content-wrapper .modal-content-block .divider {
		margin-bottom: 2.5rem;
	}

	#partners-window .modal-content-wrapper .modal-content-block .extend-partners-list {
		font-size: 1.5rem;
	}

	#partners-window .modal-content-wrapper {
		max-height: 90%;
	}

	
	/* ---------- white paper ---------- */

	#white-paper-modal .modal-content-wrapper .modal-content-block .modal-content-block-inner {
		padding: 0 22px 0 5px;
		margin: 5px -17px 5px 0;
	}

	.page-wrapper {
		margin-bottom: 5px;
	}

	#white-paper-modal .modal-content-wrapper {
		width: 100%;
	}

	#white-paper-modal .close {
		font-size: 18px;
		height: 24px;
		right: 5px;
		top: -30px;
		width: 24px;
	}


	.basic-slider {
		padding: 0 0 50px;
	}

	.basic-slider .slick-arrow {
		height: 40px;
		top: auto;
		width: 40px;
		bottom: 0;
	}

	.basic-slider .slick-arrow.prev-slide {
		left: 50%;
		right: auto;
		margin-left: -60px;
	}

	.basic-slider .slick-arrow.next-slide {
		left: auto;
		right: 50%;
		margin-right: -60px;
	}

	.basic-slider .slick-arrow::after {
		-webkit-transform: translate(-50%, -50%) scale(0.7);
		-moz-transform: translate(-50%, -50%) scale(0.7);
		transform: translate(-50%, -50%) scale(0.7);
	}


	.main__footer .telegram-link-list li .dir::before {
		width: 4rem;
	}

	.main__footer .telegram-link-list li .dir.dir-right {
		padding-right: 5.8rem;
	}

	.main__footer .telegram-link-list li .dir.dir-left {
		padding-left: 5.8rem;
	}


	/* ---------- map ---------- */

	#donut {
		transform: scale(0.7);
	}

	.structure .structure-item-part-line {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.structure .structure-item-part-line .left {
		max-width: 100%;
		width: 100%;
	}

	.structure .structure-item-part-line .right {
		max-width: 100%;
		width: 100%;
	}

	.structure .total-info {
		font-size: 1.1rem;
		min-height: 6rem;
	}

	.allocation-content .center {
		margin-bottom: -7rem;
		margin-top: -14rem;
	}



}





















@media only screen and (max-width: 399px) {

	.career-add-form .submit-field,
	.career-add-form .submit-field .btn {
		width: 100%;
	}

	.hero__video {
		top: 320px;
		-webkit-transform: scale(2.2);
		-moz-transform: scale(2.2);
		transform: scale(2.2);
	}

	.career-add-form .upload-box label.error {
		margin-left: 15px;
	}

}







@media only screen and (max-width: 369px) {

	.hero__video {
		top: 278px;
		-webkit-transform: scale(1.9);
		-moz-transform: scale(1.9);
		transform: scale(1.9);
	}

	.career-add-form .upload-box label.error {
		margin-left: 30px;
	}

}






@media only screen and (max-width: 359px) {

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2.2rem;
	}


	/* ---------- overlays ---------- */

	.linear-overlay-parent.first .linear-overlay {
		height: 17.6%;
		top: 6.3%;
	}

	.linear-overlay-parent.second .linear-overlay {
		height: 12%;
		top: 7.2%;
	}


	/* ---------- hero ---------- */

	.hero__video {
		top: 380px;
		-webkit-transform: scale(2.2);
		-moz-transform: scale(2.2);
		transform: scale(2.2);
	}

	.hero .section-title {
		font-size: 2.5rem;
	}

	.hero .section-title .text-uppercase {
		font-size: 2.5rem;
	}

	.telegram-link-list li .telegram-link {
		font-size: 3.5rem;
	}



	/* ---------- partners ---------- */

	.partners__list.right li {
		padding-top: 30%;
	}

	#partners-window .modal-content-wrapper .modal-content-block .extend-partners-list {
		font-size: 1.3rem;
	}


	/* ---------- footer ---------- */

	.main__footer .telegram-link-list li .dir.dir-left {
		padding-left: 4.8rem;
	}

	.main__footer .telegram-link-list li .dir.dir-right {
		padding-right: 4.8rem;
	}

	.main__footer .telegram-link-list li .dir::before {
		width: 3.5rem;
	}

	.career-add-form .upload-box label.error {
		margin-left: 0;
		left: -555%;
	}

	.main__footer .telegram-link-list li .dir::before {
		width: 3rem;
	}

	.main__footer .telegram-link-list li .dir.dir-right {
		padding-right: 4.8rem;
	}

	.main__footer .telegram-link-list li .dir.dir-left {
		padding-left: 4.8rem;
	}

	.telegram-link-list li {
		margin: 0 0.5rem;
	}

	/* ---------- map ---------- */

	.structure .total-info {
		font-size: 0.96rem;
	}

	/* ---------- roadmap ---------- */

	.roadmap .roadmap__progress--list .slide.large .line {
		max-width: 15rem;
	}

	.roadmap .roadmap__progress--list .slide .inner .info .item-icon {
		width: 5.2rem;
	}

	.roadmap .roadmap__progress--list .slick-arrow {
		bottom: auto;
		top: 9.2rem;
	}

}


















/* ---------- NEW CHANGES FOR FOOTER SOCIALS LIST ---------- */




@media only screen and (max-width: 359px) {

	.main__footer .telegram-link-list {
		margin-left: 45px;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.main__footer .telegram-link-list.telegram-active {
		margin-left: 0;
	} 

}



@media only screen and (max-width: 479px) {
	
	.main__footer .telegram-link-list {
		margin-left: 15px;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.main__footer .telegram-link-list.telegram-active {
		margin-left: 0;
	} 

}

